.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    background-color: #efefef;
}


#editor {
    width: auto;
    height: 500px;
    font-size: 11px;
    font-family: monospace;
    line-height: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    resize: both;
    color: rgb(39, 39, 39);
    border: 0;
    background-color: #efefef;
    white-space: pre;
    overflow: auto;
}


/* supported only in opera */
#editor {
    scrollbar-arrow-color: #ee8;
    scrollbar-base-color: #444;
    scrollbar-track-color: #666;
    scrollbar-face-color: #444;
    /* outer light */
    scrollbar-3dlight-color: #444;
    /* inner light */
    scrollbar-highlight-color: #666;
    /* outer dark */
    scrollbar-darkshadow-color: #444;
    /* inner dark */
    scrollbar-shadow-color: #222;
}

#log {
    color: #c0c0c0;
    font-size: 13px;
}

.code {
    background-color: white;
    padding-left: 4px;
}